h1{
  color: red !important;
}
label{
  width: 30em !important; /*100px*/
  display: inline-block;
  margin: 5px 0;
}
select, input{
  width: 50em !important; /*300px*/
  display: inline-block;
  margin: 5px 0;
}
select{
  margin-left: -0.25em !important;
}